{% extends "/api/base.html.jinja" %}
{% block content %}

<div id="infoModalsContainer"></div>
<div class="flex flex-row w-full min-h-[500px]">
  <!-- Left: Form -->
  <div id="sidebar"
    class="min-w-[150px] max-w-[600px] w-[300px] pr-6 bg-zinc-800 pl-2 rounded-l-lg pt-2 pb-2 text-sm transition-all duration-100 ease-in-out">
    <div class="overflow-y-auto">
      <form id="riskForm" autocomplete="off" class="sticky top-0 z-10">
        <div class="mb-5">
          <label for="main_theme" class="block mb-2 font-bold text-md text-white">
            <span>Main Theme:</span>
            <button type="button" class="text-blue-500 text-sm" onclick="showInfoModal('main_theme')"
              title="Info about Main Theme">ⓘ</button>
          </label>
          <input type="text" id="main_theme"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg block w-full p-2"
            placeholder="{{ main_theme }}" required value="{{ main_theme }}" />
        </div>

        <div class="mb-5">
          <label for="focus" class="block mb-2 font-bold text-md text-white">
            <span>Focus:</span>
            <button type="button" class="text-blue-500 text-sm" onclick="showInfoModal('focus')"
              title="Info about Focus">ⓘ</button>
          </label>
          <textarea id="focus"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg block w-full p-2"
            placeholder="{{ focus }}" required>{{ focus }}</textarea>
        </div>

        <div class="mb-5">
          <label for="companies" class="block mb-2 font-bold text-md text-white">
            <span>Company Universe:</span>
            <button type="button" class="text-blue-500 text-sm" onclick="showInfoModal('companies')"
              title="Info about Company Universe">ⓘ</button>
          </label>
          <div class="relative"> <!-- dropdown -->
            <input id="companies_text" type="text"
              class="absolute w-[calc(100%-20px)] bg-gray-50 text-gray-900 text-md rounded-lg block p-2.5 h-[42px]" />
            <select id="companies"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg block w-full p-2.5 h-[42px] z-10"
              onchange="this.previousElementSibling.value=this.options[this.selectedIndex].text;"
              onclick="console.log('HOla');">
              <!-- Options are added in a javascript-->
            </select>
          </div>
        </div>

        <button type="button" onclick="toggleAdvancedOptions()" id="advancedOptionsBtn"
          class="flex items-center gap-2 text-white bg-gray-600 hover:bg-gray-700 font-medium rounded-lg text-base px-3 py-1.5 mb-2 transition-colors duration-200">
          <span id="advancedOptionsIcon" class="text-2xl font-bold">+</span>
          <span>Advanced Options</span>
        </button>

        <div id="advanced-options" class="hidden mt-4">

          <div class="mb-5">
            <label for="control_entities" class="block mb-2 font-bold text-md text-white">
              <span>Control Entities:</span>
              <button type="button" class="text-blue-500 text-sm" onclick="showInfoModal('control_entities')"
                title="Info about Control Entities">ⓘ</button>
            </label>
            <input id="control_entities"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg block w-full p-2"
              value="{{ control_entities if control_entities is defined and control_entities else '' }}" />
          </div>

          <div class="mb-5">
            <label for="start_date" class="block mb-2 font-bold text-md text-white">
              <span>Start Date:</span>
              <button type="button" class="text-blue-500 text-sm" onclick="showInfoModal('start_date')"
                title="Info about Start Date">ⓘ</button>
            </label>
            <input type="date" id="start_date"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg block w-full p-2"
              placeholder="{{ start_date }}" required value="{{ start_date }}" />
          </div>

          <div class="mb-5">
            <label for="end_date" class="block mb-2 font-bold text-md text-white">
              <span>End Date:</span>
              <button type="button" class="text-blue-500 text-sm" onclick="showInfoModal('end_date')"
                title="Info about End Date">ⓘ</button>
            </label>
            <input type="date" id="end_date"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg block w-full p-2"
              placeholder="{{ end_date }}" required value="{{ end_date }}" />
          </div>

          <div class="mb-5">
            <label for="frequency" class="block mb-2 font-bold text-md text-white">
              <span>Frequency:</span>
              <button type="button" class="text-blue-500 text-sm" onclick="showInfoModal('frequency')"
                title="Info about Frequency">ⓘ</button>
            </label>
            <select id="frequency"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg block w-full p-2.5">
              <option value="D" {% if frequency=='D' %}selected{% endif %}>Daily</option>
              <option value="W" {% if frequency=='W' %}selected{% endif %}>Weekly</option>
              <option value="M" {% if frequency=='M' %}selected{% endif %}>Monthly</option>
              <option value="3M" {% if frequency=='3M' %}selected{% endif %}>Quarterly</option>
              <option value="Y" {% if frequency=='Y' %}selected{% endif %}>Yearly</option>
            </select>
          </div>

          <div class="mb-5">
            <label for="keywords" class="block mb-2 font-bold text-md text-white">
              <span>Keywords:</span>
              <button type="button" class="text-blue-500 text-sm" onclick="showInfoModal('keywords')"
                title="Info about Keywords">ⓘ</button>
            </label>
            <input id="keywords"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg block w-full p-2"
              placeholder="{{ keywords|join(',') if keywords is defined and keywords else '' }}"
              value="{{ keywords|join(',') if keywords is defined and keywords else '' }}" />
          </div>

          <div class="hidden mb-5">
            <label for="fiscal_year" class="block mb-2 font-bold text-md text-white">
              <span>Fiscal Year:</span>
              <button type="button" class="text-blue-500 text-sm" onclick="showInfoModal('fiscal_year')"
                title="Info about Fiscal Year">ⓘ</button>
            </label>
            <input type="text" id="fiscal_year"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg block w-full p-2.5"
              placeholder="e.g. 2025" value="{{ fiscal_year if fiscal_year else "" }}" />
          </div>

          <div class="mb-5">
            <label for="llm_model" class="block mb-2 font-bold text-md text-white">
              <span>LLM Model:</span>
              <button type="button" class="text-blue-500 text-sm" onclick="showInfoModal('llm_model')"
                title="Info about LLM Model">ⓘ</button>
            </label>
            <input type="text" id="llm_model"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg block w-full p-2.5"
              placeholder="{{ llm_model }}" value="{{ llm_model }}" />
          </div>

          <div class="mb-5">
            <label for="document_type" class="hidden block mb-2 font-bold text-md text-white">
              <span>Document Type:</span>
              <button type="button" class="text-blue-500 text-sm" onclick="showInfoModal('document_type')"
                title="Info about Document Type">ⓘ</button>
            </label>
            <select id="document_type"
              class="hidden bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg block w-full p-2.5">
              <option value="all" {% if document_type=='all' %}selected{% endif %}>ALL</option>
              <option value="filings" {% if document_type=='filings' %}selected{% endif %}>FILINGS</option>
              <option value="transcripts" {% if document_type=='transcripts' %}selected{% endif %}>TRANSCRIPTS</option>
              <option value="news" {% if document_type=='news' %}selected{% endif %}>NEWS</option>
              <option value="files" {% if document_type=='files' %}selected{% endif %}>FILES</option>
            </select>
          </div>

          <div class="mb-5">
            <label for="rerank_threshold" class="block mb-2 font-bold text-md text-white">
              <span>Rerank Threshold (0-1):</span>
              <button type="button" class="text-blue-500 text-sm" onclick="showInfoModal('rerank_threshold')"
                title="Info about Rerank Threshold">ⓘ</button>
            </label>
            <input type="number" id="rerank_threshold"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg block w-full p-2.5"
              placeholder="{{ rerank_threshold if rerank_threshold is defined and rerank_threshold is not none else '' }}"
              value="{{ rerank_threshold if rerank_threshold is defined and rerank_threshold is not none else '' }}"
              max="1" min="0" step="0.01">
          </div>

          <div class="mb-5">
            <label for="document_limit" class="block mb-2 font-bold text-md text-white">
              <span>Document Limit:</span>
              <button type="button" class="text-blue-500 text-sm" onclick="showInfoModal('document_limit')"
                title="Info about Document Limit">ⓘ</button>
            </label>
            <input type="number" id="document_limit"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg block w-full p-2.5"
              placeholder="{{ document_limit }}" value="{{ document_limit }}" />
          </div>

          <div class="mb-5">
            <label for="batch_size" class="block mb-2 font-bold text-md text-white">
              <span>Batch Size:</span>
              <button type="button" class="text-blue-500 text-sm" onclick="showInfoModal('batch_size')"
                title="Info about Batch Size">ⓘ</button>
            </label>
            <input type="number" id="batch_size"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg block w-full p-2.5"
              placeholder="{{ batch_size }}" value="{{ batch_size }}" />
          </div>

        </div>
        <button type="submit"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-md w-full sm:w-auto px-5 py-2.5 text-center">Analyze
          Risk</button>
      </form>
    </div>
    <div id="spinner" class="hidden p-2.5">⏳ Running...</div>

  </div>
  <!-- Right: Output -->
  <!-- Drag bar -->
  <div id="dragbar"
    class="w-2 cursor-ew-resize bg-zinc-700 hover:bg-blue-500 transition-colors duration-100 ease-in-out z-20"
    style="position: relative;"></div>
  <div id="outputarea"
    class="flex-1 min-w-[300px] bg-zinc-900 p-8 rounded-r-lg transition-all duration-100 ease-in-out">
    <button id="showJsonBtn"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-md w-full sm:w-auto px-5 py-2.5 text-center mb-4"
      style="display:none;">Show raw JSON</button>
    <div id="output" class="w-full">
      <div class="flex flex-col h-full py-5">
        <h1 class="text-3xl font-bold text-white mb-4">Risk Analyzer</h1>
        <p class="mb-4">
          The risk analyzing service will allow you to assess and quantify risks related to a specific theme, such as
          US-China trade relations or supply chain disruptions. It will screen your trading universe and quantify the
          potential impact of identified risks for each company in the universe.
        </p>

        <h2 class="text-2xl font-bold text-white mb-4">HOW TO USE:</h2>
        <ol class="list-decimal mb-4 pl-6">
          <li>Configure your risk analyzer parameters in the sidebar</li>
          <li>Click <strong>"Analyze Risk"</strong> to begin analysis</li>
          <li>Monitor the logs below to see the process working in the background</li>
          <li>Results will appear below once processing is complete</li>
        </ol>

        <h2 class="text-2xl font-bold text-white mb-4">CURRENT LIMITATIONS:</h2>
        <ul class="list-disc mb-4 pl-6">
          <li>Demo version retrieves <strong>NEWS</strong> documents only, restricted to 4 temporal buckets (e.g.,
            4 quarters)</li>
          <li>Processing may take a few minutes for complex queries</li>
          <li>This is an experimental tool – results should be validated independently before making investment
            decisions</li>
        </ul>

        <p class="">
          Check our repo
          <a href="https://github.com/Bigdata-com/bigdata-risk-analyzer" target="_blank"
            class="font-bold hover:text-blue-200">
            https://github.com/Bigdata-com/bigdata-risk-analyzer
          </a> for the complete and customizable version.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Logs below both -->
<div class="my-8 bg-zinc-900 rounded-lg shadow-lg p-6 text-zinc-100" style="width: 100%;">
  <h2 class="text-lg font-bold mb-4 text-sky-400">Process Logs</h2>
  <div id="logViewer"
    class="bg-zinc-800 border border-slate-700 rounded-md p-4 h-64 overflow-y-auto font-mono text-sm whitespace-pre-wrap break-words text-zinc-100">
  </div>
</div>

<!-- Modal for JSON output -->
<div id="jsonModal" class="hidden fixed z-[1000] inset-0 w-screen h-screen bg-black/50">
  <div class="bg-white relative my-20 mx-auto p-5 rounded-lg w-4/5 max-w-[900px]">
    <button id="copyBtn" onclick="copyJson()"
      class="absolute top-[10px] right-[50px] text-[15px] px-[10px] py-[4px] cursor-pointer text-gray-900">Copy</button>
    <button onclick="closeModal()" class="absolute top-2.5 right-2.5 text-lg text-gray-900">&times;</button>
    <h2 class="text-gray-900">Raw JSON Output</h2>
    <pre id="jsonContent"
      class="bg-gray-900 text-gray-100 p-4 whitespace-pre-wrap break-words overflow-auto rounded-md mt-5"
      style="max-height:60vh;"></pre>
  </div>
</div>

<script>

  const watchlists = {{ example_watchlists | tojson }};

  // Populate the dropdown with watchlists
  const comp_select = document.getElementById('companies');
  const comp_text = document.getElementById('companies_text');
  watchlists.forEach((watchlist, index) => {
    if (watchlist.id === "{{ companies }}") {
      comp_text.value = watchlist.name;
    }
    const option = document.createElement('option');
    option.value = watchlist.id;
    option.textContent = watchlist.name;
    comp_select.appendChild(option);
  });

  
  document.getElementById('showJsonBtn').onclick = function () {
    if (lastReport) {
      document.getElementById('jsonContent').textContent = JSON.stringify(lastReport, null, 2);
      document.getElementById('jsonModal').style.display = 'block';
    }
  };

  window.closeModal = closeModal;


  window.toggleMotivation = toggleMotivation;

</script>
<script src="static/scripts/form.js"></script>
</form>
{% endblock %}